/* All the styling for the pokemon info */
.container .pokemon{
    border-radius: 5px;
    background-color: aliceblue;
    width: 100%;
    margin-left: 15px;
}

.container .pokemon .pokemonInfo{
    padding: 50px 50px 0px 50px;
    display: flex;
}

.container .pokemon .pokemonInfo .infoImage{
    padding: 30px;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
}

.container .pokemon .pokemonInfo .infoImage .types{
    display: flex;
    padding: 30px;
    align-content: center;
    align-items: center;
}

.container .pokemon .pokemonInfo .infoImage .types .type{
    background-color: rgba(233, 126, 158, 0.219);
    border-radius: 5px;
    width: 130px;
    padding: 4px;
    margin: auto;
}


.container .pokemon .pokemonInfo .infoData{
    padding: 70px 100px;
    width: 50%;
    text-transform: capitalize;
}

.container .pokemon .pokemonEvolution .title{
    margin-top: 40px;
    text-align: center
}

.container .pokemon .pokemonEvolution .divEvolution{
    align-items: center;
    display: flex;
    text-align: center;
}

.container .pokemon .pokemonEvolution .divEvolution .pokemon{
    text-transform: capitalize;
    width: fit-content;
    margin: auto;
}

.pokemonIconBig{
    width:250px;
    height:250px;
}

.pokemonIconEv{
    width:200px;
    height:200px;
}

.divider{
    background-color: red;
    width: 90%;
    height: 2px;
    margin: 5px auto;
}

.arrowImg{
    color: red;
    font-size: 50px;
}