@import "./list.css";
@import "./info.css";
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Container props */
.container {
  max-height: 100vh;
  background-color: rgb(211, 64, 64);
  padding: 25px;
  display: flex;
}

/* Scrollbar format */
.list::-webkit-scrollbar {
  color: black;
  width: 20px;
  height: 30px;
  overflow-y: scroll;
  scrollbar-color: rgb(83, 20, 146) green;
  scrollbar-width: thin;
  border-radius: 50px;
}

/* Scrollbar Track */
.list::-webkit-scrollbar-track {
  background: rgb(133, 43, 43);
  border-radius: 50px;
}

/* Scrollbar Handle */
.list::-webkit-scrollbar-thumb {
  background: rgb(211, 64, 64);
  border-radius: 50px;
}