.container{
    max-height: 1080px;
    background-color: rgb(211, 64, 64);
    padding: 20px;
    display: flex;
}


.container .list{
    border: 3px solid rgb(170, 134, 134);
    border-radius: 10px;
    width: 40%;
    overflow: scroll;

    color: white;
}

.container .pokemon{
    border-radius: 5px;
    background-color: aliceblue;
    width: 100%;
    margin-left: 15px;
}

.container .pokemon .pokemonInfo{
    padding: 50px;
    display: flex;
}

.container .pokemon .pokemonInfo .infoImage{
    padding: 30px;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
}

.container .pokemon .pokemonInfo .infoImage .types{
    display: flex;
    padding: 30px;
    align-content: center;
    align-items: center;
}

.container .pokemon .pokemonInfo .infoImage .types .type{
    background-color: rgba(233, 126, 158, 0.219);
    border-radius: 5px;
    width: 130px;
    padding: 4px;
    margin: auto;
}


.container .pokemon .pokemonInfo .infoData{
    padding: 70px 100px;
    width: 50%;
    text-transform: capitalize;
}

.container .pokemon .pokemonEvolution .title{
    text-align: center
}

.container .pokemon .pokemonEvolution .divEvolution{
    align-items: center;
    display: flex;
    border: 1px solid rgb(19, 161, 161);
    text-align: center;
}

.container .pokemon .pokemonEvolution .divEvolution .pokemon{
    border: 1px solid rgb(97, 44, 196);
    width: fit-content;
    margin: auto;
}

#my-div {
    background-color: rgb(73, 140, 160);
    width: 200px;
    height: 20px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.pokemonIcon{
    width:30px;
    height:30px;
    position: relative;
    left: -4px;
    top: 12px;
}

.pokemonIconBig{
    width:250px;
    height:250px;
}

.stickyNumber{
    position: absolute;
    right: 40px;
    top: 0px;
}

.divider{
    background-color: red;
    width: 90%;
    height: 2px;
    margin: 5px auto;
}